---
/**
 * --------------------------------------------------------------------------- *
 *                     Copyright (c) by BookOfFretsX 2026                      *
 * --------------------------------------------------------------------------- *
 * @license https://github.com/TheAncientOwl/book-of-frets-x/blob/main/LICENSE
 *
 * @file ChordsV2.astro
 * @author Alexandru Delegeanu
 * @version 1.0
 * @description Master orchestrator component for chords v2 parsing section layout.
 */

import type { TChordsV2SectionData, TSongSectionLyrics, TStrummingPattern } from '#types/song';
import ChordsV2LineRenderer from '#components/song/sections/renderers/chords/v2/LineRenderer.astro';
import ChordsV1Lyrics from '#components/song/sections/renderers/chords/v1/Lyrics.astro';

interface Props {
  data: TChordsV2SectionData;
  strummingPatterns: TStrummingPattern[];
  showLyrics: boolean;
  lyrics: TSongSectionLyrics;
  chordsIndex: Record<string, any>;
  songSettings: {
    display: {
      strummingPattern: boolean;
      chordTimes: boolean;
      chordTimesOne: boolean;
    };
  };
}

const { data, strummingPatterns, showLyrics, lyrics, chordsIndex, songSettings } = Astro.props;
---

<div class='flex flex-col justify-center items-center gap-[1em]'>
  {/* Chords parsing and measure divider pipeline */}
  <ChordsV2LineRenderer
    data={data}
    strummingPatterns={strummingPatterns}
    chordsIndex={chordsIndex}
    songSettings={songSettings}
  />

  {/* Lyrics conditional line display block */}
  <ChordsV1Lyrics visible={showLyrics} lyrics={lyrics} />
</div>
