---
/**
 * --------------------------------------------------------------------------- *
 *                     Copyright (c) by BookOfFretsX 2026                      *
 * --------------------------------------------------------------------------- *
 * @license https://github.com/TheAncientOwl/book-of-frets-x/blob/main/LICENSE
 *
 * @file Song.astro
 * @author Alexandru Delegeanu
 * @version 1.3
 * @description Song renderer
 */

import type { TSong } from '#types/song';

import SongHeader from '#components/song/Header.astro';
import SongNotes from './Notes.astro';
import SongChordsList from '#components/song/ChordsLists.astro';
// import SongSections from './Sections/SongSections.astro';
// import SongResources from './SongResources.astro';

interface Props extends TSong {
  directory: string;
}

const props = Astro.props;
---

<div
  class='w-full h-full overflow-y-auto bg-deep-charcoal p-2 md:p-4
            flex flex-col justify-center items-center'
>
  <div class='rounded-xl bg-deep-purple p-4 min-h-dvh w-full max-w-5xl'>
    <SongHeader
      directory={props.directory}
      title={props.title}
      artists={props.artists}
      capo={props.capo}
      type={props.type}
      contributors={props.contributors}
      lyrics={props.lyrics}
      lyricsShown={false}
      res={props.res}
    />

    <div class='rounded-xl overflow-hidden bg-black/20 p-3'>
      <SongNotes notes={props.notes} />

      <SongChordsList chordIDs={props.chordIDs} />
      <!--
        <SongSections
        sections={props.sections}
        order={props.order}
        strumms={props.strumms}
        showLyrics={false}
        lyrics={[]}
        />
        -->
    </div>
  </div>

  <!--
  <SongResources
    res={props.res}
  />
  -->
</div>
